<%- include('./partials/navbar')  %>
    
    <div class="text-center">
        <h1>Secret Page , You can view this only if you are logged in</h1>
        <form action="/logout" method="post">
            <button class="btn btn-danger">Sign Out</button>
        </form>
    </div>
    
</body>
</html>